{% load static %}
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>
    <script src="https://use.typekit.net/hoy3lrg.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>

<body>
      <div id="frame">
    <div id="sidepanel">
      <div id="profile">
        <div class="wrap">
          <img id="profile-img" src="http://emilcarlsson.se/assets/mikeross.png" class="online" alt="" />
          <p style="font-size: 20px;">{{username}}</p>
          <i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="contact-profile">
        <center>
        <p style="font-size: 20px; text-align: center;"> Room name - {{room_name}}</p>
        </center>
        </div>
      <div class="messages">
        <ul id="chat-log">
           <li class="sent">
          </li>
          <li class="replies">
            
          </li>
        </ul>
      </div>
      <div class="message-input">
        <div class="wrap">
        <input id="chat-message-input" type="text" font_size=30  placeholder="Write your message..." />
        <button id="chat-message-submit" class="submit">
          <i class="fa fa-paper-plane" aria-hidden="true"></i>
        </button>
        </div>
      </div>
    </div>
  </div>

    <script src="{% static 'main.js' %}"></script>
    <script>
        const roomName = '{{ room_name }}';
        const username = '{{ username }}';

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onopen = function(e) {
            fetchMessages();
        }

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);

            if (data['command'] === 'messages') {
                for (let i=0; i<data['messages'].length; i++){
                    createMessage(data['messages'][i]);
                }
            } else if (data['command'] === 'new_message'){
                createMessage(data['message']);
            }
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.getElementById('chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'command': 'new_message',
                'message': message,
                'from': username
            }));
            messageInputDom.value = '';
        };

         function fetchMessages() {
            chatSocket.send(JSON.stringify({'command': 'fetch_messages' }));
        }

        function createMessage(data) {
      const author = data['author'];
      const msgListTag = document.createElement('li');
      const imgTag = document.createElement('img');
      const pTag = document.createElement('p');
      const pTag1 = document.createElement('li');
      const pTag2 = document.createElement('li');
      const dateTag = document.createElement('li');
      pTag1.textContent = data.content;
      pTag2.textContent = data.author;
      dateTag.textContent = data.timestamp;
      if (author === username) {
        msgListTag.className = 'replies';
      } else {
        msgListTag.className = 'sent';
      }
      pTag.appendChild(pTag2);
      pTag.appendChild(pTag1);  
      pTag.appendChild(dateTag);    
      msgListTag.appendChild(pTag);
      document.querySelector('#chat-log').appendChild(msgListTag);
    }

</script>
</body>
</html> 